/*
* color
* gray transparent: rgba(140,140,140,0.5)
* gray: #636363
* cyan: #00cca7
*/
body{
	margin: 0px;
	padding: 0px;	
	background-color:#FFFFFF;
	background-image:url(../image/background2.png);
	background-attachment:fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Segoe UI Light', /*'Agency FB',*/ calibri;
}
p{
	//margin:0px;
	text-align: justify;
	line-height: 150%;
	font-size: 18px;
}
label{
	cursor: pointer;
	max-width: 200px;
	width: 30%;
	display: inline-block;
}
label.exception{
	width: auto;
}
input[type=submit], input[type=button]{
	cursor: pointer;
}
input, textarea, select{
	/*
	background-color:#ffffff;
	border:solid 1px #929292;
	*/
	border: solid 3px transparent;
	background-color: rgba(140,140,140,0.8);
	outline: none;
	padding: 3px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus{
	/*
	border:solid 1px #00cca7;
	background-color:#ffffff;
	*/
	border-left: solid 3px #00cca7;
	background-color: rgba(140,140,140,0.5);
}
textarea{
	resize: none;
}
a{
	text-decoration:none;
	color: #000000;
}
a:hover{
	color: #00cca7;
}
ul{
	padding:0px;
	list-style-type:none;
}
div{
	overflow: hidden;
}


#main{
	background-color:transparent;
	overflow: initial;
}
#links{
	position:fixed;
	float:left;
	bottom:0;
	width: auto;
	height:30px;
	background-color:#00cca7;
	margin-left:50px;
  	z-index:2;
}
#header{
	position: relative;
	overflow: visible;
	width: 100%;
	height: 120px;
	background-color:rgba(26,33,32,0.9);
	border-bottom: solid 3px rgba(58,66,65,0.9);
	min-width: 700px;
	z-index: 2;
}
	#logo{   
		padding: 10px 0px 0px 50px;
	}
		#header-logo{
			position: relative;
			float: left;
		}
			#header-logo-image{
				width: 23px;
				height: 61px;
			}
		#header-logo-text{
			position: relative;
			top: 10px;
			left: 10px;
			float: left;
			color: #00cca7;
			font-size: 38px;
		}
	#logo_small{
		position: absolute;
		left: 20px;
		top: 10px;
		float: left;
		display: none;
	}
		#header-logo-small{
			width: 11px;
		}
	#language{
		position: absolute;
		right: 0px;
		top:0px;
		float: right;
	}
	#header-menu{
		margin:auto;
	  	position:relative;
	  	top: 10px;
	  	height:38px;
		width:1000px;
	}
	#header-menu a{
		float:left;
		display:block;
		height:35px;
		color: #ffffff;
		font-size:23px;
		padding:0px 10px;
	}
	#header-menu a:hover{
		border-bottom: solid 3px #00cca7;
	}
	.header-menu-clicked{
		border-bottom: solid 3px #00cca7;
	}
.scroll#header{
	position: fixed;
	top: 0px;
	overflow: visible;
	width: 100%;
	height: 45px;
	background-color:rgba(26,33,32,0.9);
	border-bottom: solid 3px rgba(58,66,65,0.9);
	min-width: 700px;
	z-index: 2;
}
	.scroll #logo{   
		display: none;
		padding: 25px 0px 0px 50px;
	}
	.scroll #logo_small{
		position: absolute;
		left: 20px;
		top: 10px;
		display: block;
		float: left;
	}
	.scroll #language{
		float: right;
	}
	.scroll #header-menu{
		margin:auto;
	  	position:relative;
	  	top: 10px;
	  	height:38px;
		width:1000px;
	}
.white a{
  color: #ffffff;
}
.white a:hover{
  color: #00cca7;
}
#body{
	position:relative;
	margin: 20px auto;
	width:1000px;
	min-width: 700px;
	height:auto;
	color: #262626;
}
	#content{
	  	position:relative;
		float:left;
		width:70%;
		height:auto;
		padding: 0px 20px 0px 0px;
		border-right: solid 1px #3a4241;
		border-bottom: none;
	 	min-height:200px;
	}
	#menu{
		position:relative;
	  	width:249px;
	  	float:left;
		left:20px;
		height:auto;
	}
	#menu label{
		font-style: italic;
		color: #0B243B;
		size: 11px;
		width: auto;
	}
	#menu input[type=text], #menu textarea{
		padding: 0px;
		margin: 3px 0px;
		color: #000000;
		background-color: #ffffff;
		width: 247px;
		border-color: #0B243B;
		border-width: 1px;
	}
	#menu textarea{
		height: 100px;
	}
	#menu select{
		padding: 0px;
		margin: 0px;
		color: #000000;
		background-color: #ffffff;
		border-color: #0B243B;
		border-width: 1px;
	}
	#menu input[type=text].half_size{
		padding: 0px;
		margin: 3px 0px;
		color: #000000;
		background-color: #ffffff;
		width: 122px;
		border-color: #0B243B;
		border-width: 1px;
	}
.scroll#body{
	position:relative;
	margin: 65px auto 20px auto;
	width:1000px;
	min-width: 700px;
	height:auto;
}
@media all and (max-width: 1100px){
	#links{
		position:fixed;
		float:left;
		bottom:0;
		width: auto;
		height:auto;
		background-color:#00cca7;
		margin-left: 50px;
	  	z-index:2;
	}
		#header-menu{
			margin:auto;
		  	position:relative;
		  	top:10px;
		  	height:38px;
			width:70%;
		}
		.scroll #header-menu{
			margin:auto;
		  	position:relative;
		  	top: 10px;
		  	height:38px;
			width:70%;
		}
	#body{
		position:relative;
		margin: 20px auto;
		width:auto;
		height:auto;
	}
		#content{
		  	position:relative;
		  	margin:auto;
			float:none;
			width:70%;
			height:auto;
			padding: 0px;
			border-right: none;
			border-bottom: solid 1px #3a4241;
		 	min-height: 0px;
		}
		#menu{
			position:relative;
			margin:auto;
		  	width:70%;
		  	float: none;
		  	clear: left;
			left:0px;
			height:auto;
		}
	.scroll#body{
		position:relative;
		top: 45px;
		margin: 20px auto;
		width:auto;
		height:auto;
	}
}
#pages{
	padding: 0px 40px;
	text-align: right;
	clear: both;
}
.page_number{
	display: inline-block
}
.language-label{
	float: left;
	padding: 10px;
	color: #ffffff;
}
.language-label a{
	color: #ffffff;
}
.language-label a:hover{
	color: #00cca7;
}
a.language-select{
	color: #00cca7;
}
.list
{
}
.listName
{
	font-size:20px;
}
#logout{
  float:right;
  padding:10px;
}

.logo{
  padding:5px;
  height:20px;
  opacity: 0.5;
}
.logo:hover{
  padding:5px;
  height:20px;
  opacity: 1.0;
}
.avatar{
  max-width:70px;
  max-height:70px;
}
.clickable{
  cursor:pointer;
}
.invisible{
  display:none;
}
.visible{
  display:on;
}

.block{
	border-left: solid 3px #00cca7;
	margin: 0px 0px 20px 0px;
}
	.block-header{
		position: relative;
		height: 30px;
		background-color: rgba(140,140,140,0.5);
	}
		.block-header-date{
			padding-top: 4px;
			float: left;
		}
		.block-header-title{
			position: relative;
			top: -2px;
			font-size: 20px;
			float: left;
			padding: 0px 0px 0px 20px;
		}
		.block-header-info{
			float: right;
			color:#636363;
  			padding:3px 20px;
		}
		.block-header-abstract{
			float: left;
			color:#636363;
  			padding:3px 20px;
		}
		.block-header-link{
			float: right;
			color:#636363;
  			padding:0px 20px;
		}
			.block-header-link .logo:hover{
			  padding:5px;
			  height:20px;
			  opacity: 1.0;
			}
		.block-header a{
			color:#636363;
		}
		.block-header a:hover{
			color:#000000;
		}
	.block-image{
		padding: 15px 20px;
		float:left;
	}
	.block-body{
	  	padding: 15px;
	  	position: relative;
	  	color: #636363;
	}
		.block-body-info{
			color: #636363;
		}
			.block-body-info-label{
				float: left;
				width: 70px;
			}
			.block-body-info-value{
				float: left;
			}
	.block-body a{
	  	text-decoration: underline;
	}
	.block-footer{
		clear: both;
		padding: 15px;
	}

#popup-bg{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
  background-color:#262626;
  z-index:3;
  opacity:0.8;
}
#image-viewer{
	display: inline-block;
}
.pop-up{
  position:fixed;
  z-index:3;
  background-color:#ffffff;
  padding:20px;
}
.pop-up-transparent{
  position:fixed;
  z-index:3;
  background-color:transparent;
}
.center{
	margin:auto;
}
.cms-table-image-preview{
	width:30px;
}
.link-item{
	float: left;
	text-align: center;
	width: auto;
}
.tag{
	float: left;
	color: #000000;
	background-color: rgba(140,140,140,0.5);
	padding: 5px 10px;
	margin: 0px 10px 0px 0px;
}
@media all and (max-width: 1100px){
	#links .link-item{
		float: none;
		text-align: center;
		width: auto;
	}	
}